.chrome-extension-highlight {
    font-style: normal;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 3px;
    text-decoration: none;
    border-radius: 3px;
    color: black;
    background: yellow;
    cursor: pointer;
}

.chrome-extension-highlight[desc=""] {
    font-style: italic;
    background: #eded84 !important;
}

.ce-popup {
    width: 270px;
    height: 120px;
    padding: 10px;
    min-width: 90px;
    min-height: 50px;
    display: none;
    top: 138.111px;
    left: 508.601px;
    z-index: 10003;
    opacity: 1;
    transform: scale(1);
    position: absolute;
    border-style: solid;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, .3);
    box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, .3);
    background-color: #fff;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: content-box;
    border-width: 1px;
    -webkit-appearance: none;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif !important
}

.ce-popup h3 {
    font-weight: 600;
    font-size: 14px;
}

.ce-popup button {
    margin-top: 5px;
}

.ce-popup-mini {
    width: 150px;
    height: 70px;
    padding: 5px 10px 5px 10px;
    min-width: 90px;
    min-height: 50px;
    display: none;
    top: 138.111px;
    left: 508.601px;
    z-index: 10003;
    opacity: 1;
    transform: scale(1);
    position: absolute;
    border-style: solid;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, .3);
    box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, .3);
    background-color: #f4f4f4;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: content-box;
    border-width: 1px;
    -webkit-appearance: none;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif !important
}
